# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment
.env
.venv/
env/
venv/
*.egg-info/

# Data (optional)
*.csv
*.log
*.sqlite
*.db

# Editor folders
.vscode/
.idea/
